.videoListItem {
    margin: 1rem;
    margin-bottom: 1rem;
    
    width: calc(100% - 2rem);
    align-items: center;
  

    display: flex;
    flex-direction: row;

    &__img{
        max-height: 7rem;
        border-radius: 4px;
    }

    &__titleAndChannel{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;

        &--title {
            font-weight: bold;
        }

    }
}