@import '../src/styles/partials/minxins'; 

.app{
    display: flex;
    flex-direction: column;
}

.home-body{

    
    @include breakpoint(desktop){
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }
}


.details-comments{
    display: flex;
    flex-direction: column;
    @include breakpoint(desktop){
        max-width: 75%;

    }

}

.video-list{
    @include breakpoint(desktop){
        max-width: 25%;

    }
}